/* #023474 --> ARSENAL BLUE*/
/* #F00000 --> ARSENAL RED */
/* #9C824A --> ARSENAL GOLD */

.app {
  width: auto;
  height: 100vh;
  display: flex;
}

/* ************* initial grid setup *********** */

.grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    ". .";
}

/* ************** navbar ************** */

.navbar {
  display: flex;
  justify-content: center !important;
}

/* ************* directory *************** */

.directory {
  width: auto;
  margin: 0 7px 0 0;
  padding: 0;
  border-top: 2px dotted #023474;
  border-bottom: 2px dotted #023474;
}

.directory h3 {
  width: 80%;
  margin: 5px auto;
  text-transform: uppercase;
}

.list {
  list-style: none;
  font-size: 14px;
  padding-left: 15px;
}

.list li {
  padding: 2px 0;
}


/* ************** dashboard ************ */

.dashboard {
  width: auto;
  margin: 0 7px;
  padding: 15px;
  border: 2px solid #023474;
  border-radius: 10px;
}

.dashboard h3 {
  text-align: center;
  text-transform: uppercase;
}

/* ************ billboard ************** */

.billboard {
  margin: 3px 0;
  border-top: 2px dotted #023474;
  border-bottom: 2px dotted #023474;
}

.billboard h4 {
  margin: 10px 0;
  text-transform: uppercase;
}

.billboard h5 {
  margin: 10px 0;
  text-transform: uppercase;
}

.billboard-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.billboard-container p {
  font-size: 12px;
}

/* ************** resource container ************** */

.resource {
  margin: 3px 0;
  border-top: 2px dotted #023474;
  border-bottom: 2px dotted #023474;
}

.resource h4 {
  margin: 10px 0;
  text-transform: uppercase;
}

.resource .grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    ". .";
  margin-bottom: 10px;
}

.data-column {
  text-align: center;
  border-right: 2px dotted #023474;
}

.resource-column {
  text-align: center;
  border-left: 2px dotted #023474;
}

/* ************ resource card ************** */

.resource-card h4 {
  text-transform: uppercase;
}

/* ************** data ************** */

.data h4 {
  text-transform: uppercase;
}

.target-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    ". .";
  margin-bottom: 10px;
}

.target-container p {
  padding: 0 !important;
  margin: 0;
  font-size: 13px;
}

.data-form label {
  font-size: 13px;
  margin: 0;
}

/* ************ assessment container ************** */

.assessment-center {
  margin: 3px 0;
  border-top: 2px dotted #023474;
  border-bottom: 2px dotted #023474;
}

.assessment-center h4 {
  margin: 10px 0;
  text-transform: uppercase;
}

.form-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 0px 5px;
  grid-template-areas:
    ". .";
}

/* ************ reflection form ************** */

.reflection {
  display: flex;
  padding: 0 10px 10px 10px;
}

.reflection-container {
  width: 90%;
}

.reflection-container h5 {
  margin: 5px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 42%;
}

.submit {
  width: 70px;
  
}

.input-box {
  width: 100%;
  height: 200px;
}

/* ************ assessment form ************** */

.assessment {
  display: flex;
  padding: 0 10px 10px 10px;
}

.assessment-container {
  width: 90%;
}

.assessment-container h5 {
  margin: 5px 0;
}

/* ************ adjustment ************** */

.adjustment {
  display: flex;
  padding: 0 10px 10px 10px;
}

.num-input {
  width: 40px;
  height: 20px;
  margin-left: 5px;
}

.library {
  margin: 3px 0;
  border-top: 2px dotted #023474;
  border-bottom: 2px dotted #023474;
}
  
